:root {
    --grid-gutter: 15px;
}


*, *::before, *::after {
    box-sizing: border-box;
}

html, body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    margin: 0;
}

.container {
    width: 1200px;
    margin: 0 auto;
    /* background-color: yellow; */
}


.row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-grow: 1;

    /* background-color: red; */
}

.row .row{
    margin-right: calc(var(--grid-gutter) * -1); 
    margin-left: calc(var(--grid-gutter) * -1);
}





[class^="col-"] {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex-grow: 1;
    margin-right: var(--grid-gutter);
    margin-left: var(--grid-gutter);
    margin-bottom: var(--grid-gutter);

    /* background-color: green; */
}

.mb-none,
[class^="col-"] [class^="col-"] {
    margin-bottom: 0;
}

.col-100 {width: calc(100% - var(--grid-gutter) * 2);}
.col-80 {width: calc(80% - var(--grid-gutter) * 2);}
.col-70 {width: calc(70% - var(--grid-gutter) * 2);}
.col-66 {width: calc(100% / 1.5 - var(--grid-gutter) * 2);}
.col-50 {width: calc(50% - var(--grid-gutter) * 2);}
.col-33 {width: calc(100% / 3 - var(--grid-gutter) * 2);}
.col-30 {width: calc(30% - var(--grid-gutter) * 2);}
.col-20 {width: calc(20% - var(--grid-gutter) * 2);}


/* DESKTOP */
@media screen and (max-width:1200px) {
    .container {
        width: 740px;
}


/* Tablette */
@media screen and (max-width:992px) {
    .container {
        width: 960px;
    }
}

    .col-md-100 {width: calc(100% - var(--grid-gutter) * 2);}
    .col-md-80 {width: calc(80% - var(--grid-gutter) * 2);}
    .col-md-70 {width: calc(70% - var(--grid-gutter) * 2);}
    .col-md-66 {width: calc(100% / 1.5 - var(--grid-gutter) * 2);}
    .col-md-50 {width: calc(50% - var(--grid-gutter) * 2);}
    .col-md-33 {width: calc(100% / 3 - var(--grid-gutter) * 2);}
    .col-md-30 {width: calc(30% - var(--grid-gutter) * 2);}
    .col-md-20 {width: calc(20% - var(--grid-gutter) * 2);}
}



/* Mobile */
@media screen and (max-width:768px) {
    .container {
        width: 100%;
    }

    .col-xs-100 {width: calc(100% - var(--grid-gutter) * 2);}
    .col-xs-80 {width: calc(80% - var(--grid-gutter) * 2);}
    .col-xs-70 {width: calc(70% - var(--grid-gutter) * 2);}
    .col-xs-66 {width: calc(100% / 1.5 - var(--grid-gutter) * 2);}
    .col-xs-50 {width: calc(50% - var(--grid-gutter) * 2);}
    .col-33 {width: calc(100% / 3 - var(--grid-gutter) * 2);}
    .col-xs-30 {width: calc(30% - var(--grid-gutter) * 2);}
    .col-xs-20 {width: calc(20% - var(--grid-gutter) * 2);}
}